name: LaTeX Release

permissions:
  contents: write

on:
  push:
    tags: 'v*.**'

jobs:
  pre-release:
    name: "Release"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: true
    - name: Update and Intall Dependencies
      run: sudo apt-get update && sudo apt-get install -y texlive-full latexmk
    - name: Setup go-task
      uses: arduino/setup-task@v1
      with:
        version: 3.x
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Clean Project
      run: task clean
    - name: List Project
      run: ls -R
    - name: Build PDF
      run: task pipeline
    - uses: ncipollo/release-action@v1
      with:
        artifacts: "proposal.pdf"
        bodyFile: "README.org"
